<div class="input-group mb-3{% if include.classes %} {{ include.classes }}{% endif %}">
    {% if include.label_left %}
    <label class="input-group-text" for="{{ include.id }}">{{ include.label_left }}</label>
    {% endif %}
    
    <select id="{{ include.id }}" class="form-select"{% if include.autofocus %} autofocus{% endif %}{% if include.onenter %} onKeyDown="if (event.keyCode == 13) {% raw %}{{% endraw %}{{ include.onenter }}{% raw %}}{% endraw %}"{% endif %}>
    {% for o in include.options %}
        <option>{{ o }}</option>
    {% endfor %}
    </select>

    {% if include.label_right %}
    <label class="input-group-text" for="{{ include.id }}">{{ include.label_right }}</label>
    {% endif %}
</div>