<div class="input-group mb-3{% if include.classes %} {{ include.classes }}{% endif %}">
    {% if include.label_left %}
    <span class="input-group-text" id="{{ include.id }}_label_left">{{ include.label_left }}</span>
    {% endif %}

    <div class="custom-file" style="flex: auto;">
        <input type="file" class="form-control" id="{{ include.id }}"{% if include.accept %} accept="{{ include.accept }}"{% endif %}{% if include.label_left %} aria-describedby="{{ include.id }}_label_left"{% endif %}{% if include.autofocus %} autofocus{% endif %}{% if include.onchange %} onChange="{{ include.onchange }}"{% endif %}>
    </div>

    {% if include.label_right %}
    <span class="input-group-text" id="{{ include.id }}_label_right">{{ include.label_right }}</span>
    {% endif %}
</div>