<div class="input-group mb-3{% if include.classes %} {{ include.classes }}{% endif %}">
    {% if include.label_left %}
    <span class="input-group-text" id="{{ include.id }}_label_left"{% if include.click_to_copy %} readonly onclick="clipboard(document.querySelector('#{{ include.id }}'))" {% endif %}>{{ include.label_left }}</span>
    {% endif %}
    
    <textarea id="{{ include.id }}" class="form-control"{% if include.label_left %} aria-describedby="{{ include.id }}_label_left"{% endif %}{% if include.autofocus %} autofocus{% endif %}{% if include.onenter %} onKeyDown="if (event.keyCode == 13) {% raw %}{{% endraw %}{{ include.onenter }}{% raw %}}{% endraw %}"{% endif %}{% if include.click_to_copy %} readonly onclick="clipboard(this)" {% endif %}></textarea>

    {% if include.label_right %}
    <span class="input-group-text" id="{{ include.id }}_label_right">{{ include.label_right }}</span>
    {% endif %}
</div>