body {
    @extend .text-white;
    height: 100vh;
}

.navbar {
    @extend .bg-primary;
    @extend .navbar-dark;
}

main {
    @extend .bg-dark;
    @extend .shadow-lg;

    @extend .container-fluid;
    @extend .py-3;
    height: calc(100vh - 56px);

    @include media-breakpoint-down(sm) {
        max-width: 100vw;
        
        // px-0
        padding-left: 0px;
        padding-right: 0px;
    };
    @include media-breakpoint-up(md) {
        max-width: calc(100vw - 25vw);
        
        // px-5
        padding-left: ($spacer * 3);
        padding-right: ($spacer * 3);
    };
}

footer {
    @extend .fixed-bottom;
    @extend .bg-primary;
    @extend .mt-auto;
    @extend .py-3;
}