body {
    @extend .text-white;
    height: 100vh;
}

.navbar {
    @extend .bg-primary;
    @extend .navbar-dark;
}

main {
    @extend .bg-dark;
    @extend .shadow-lg;

    @extend .container-fluid;
    @extend .py-3;

    max-width: calc(100vw - 25vw);
    @extend .px-5;
    height: calc(100vh - 56px);
}

footer {
    @extend .fixed-bottom;
    @extend .bg-primary;
    @extend .mt-auto;
    @extend .py-3;
}