---
layout: default
title: Raw Text
description: Generate raw text components for tellraws, titles, and signs
tool: true
---
{% include file_input.html id="file" accept=".lang" label_right="Select Language File" onchange="handle_file_change(event)" %}
<datalist id="autocomplete_lang_list"></datalist>
<datalist id="score_selector_list">
    <option value="*"></option>
    <option value="@a"></option>
    <option value="@e"></option>
    <option value="@p"></option>
    <option value="@r"></option>
    <option value="@s"></option>
</datalist>
<datalist id="selector_selector_list">
    <option value="@a"></option>
    <option value="@e"></option>
    <option value="@p"></option>
    <option value="@r"></option>
    <option value="@s"></option>
</datalist>

{% include button.html id="plain_button"    type="btn-secondary text-light" classes="col-2 mb-3 me-3" onclick="init_plain()"        message="Plain" %}
{% include button.html id="announce_button" type="btn-danger text-light"    classes="col-2 mb-3 me-3" onclick="init_announcement()" message="Announcement" %}
{% include button.html id="say_button"      type="btn-danger text-light"    classes="col-2 mb-3 me-3" onclick="init_say()"          message="Say" %}
{% include button.html id="sign_button"     type="btn-danger text-light"    classes="col-2 mb-3 me-3" onclick="init_sign()"         message="Sign" %}

<!-- hide with group by default, show on checkbox press, create some datalists and swap between them based on what the dropdown says -->
<!-- write the preview and generation code for each of the options 🙈 -->
{% for i in (1..4) %}{% capture boxid %}box{{ i }}{% endcapture %}{% capture boxname %}Box {{ i }}{% endcapture %}{% capture boxvis %}{% if i != 1 %}d-none{% endif %}{% endcapture %}
{% include text_input.html id=boxid label_left=boxname checkbox_right="From lang?" checkbox_right_onclick="lang_checkbox_click(event)" checkbox_right2="Inner with?" checkbox_right2_onclick="toggle_with(event)" list="autocomplete_lang_list" classes=boxvis %}
<div id="box{{ i }}_with" class="input-group mb-3 d-none">
    <span class="input-group-text">Box {{ i }} With</span>
    <select id="box{{ i }}_with_select" class="form-select" oninput="with_dropdown_change(event)">
        <option>Plain text</option>
        <option>Language entry</option>
        <option>Selector</option>
        <option>Score</option>
    </select>
    <input type="text" id="box{{ i }}_with_input" class="form-control">
    <input type="text" id="box{{ i }}_with_input2" class="form-control d-none">
</div>
{% endfor %}

<div class="text-end">{% include button.html type="btn-secondary text-light btn-lg" onclick="generate()" message="Generate" %}</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="preview_label_left">Preview<br>(hover to swap background)</span>
    <div id="preview" class="form-control rawtextpreview announce" aria-describedby="preview_label_left"></div>
</div>

{% include text_area.html id="out" label_left="Output<br>(click to copy)" click_to_copy=true %}

<script type="text/javascript" src="rawtext.js"></script>