<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} - Toolets</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href="https://mrjamesco.uk/me.png">

        <meta property="og:title" content="{{ page.title }} - Toolets">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:image" content="https://mrjamesco.uk/me.png">
        <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
        <meta name="twitter:card" content="summary">
        <meta property="site_name" content="Toolets by James C.">
        <meta name="twitter:site" content="@MrJamesCo">

        <link rel="stylesheet" href="{% capture csslink %}{% link assets/css/main.scss %}{% endcapture %}/toolets{{ csslink | remove_first: "/toolets" }}">{% if content contains 'class="bi' %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">{% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% capture indexlink %}{% link index.html %}{% endcapture %}/toolets{{ indexlink | remove_first: "/toolets" }}">Toolets</a>
            </div>
            <div class="navbar-nav">
                <div class="navbar-item"><a class="nav-link{% if page.title contains "Index" %} active{% endif %}" href="/toolets{{ indexlink | remove_first: "/toolets" }}">Index</a></div>
                <div class="navbar-item"><a class="nav-link{% if page.title contains "About" %} active{% endif %}" href="{% capture aboutlink %}{% link about.html %}{% endcapture %}/toolets{{ aboutlink | remove_first: "/toolets" }}">About</a></div>
            </div>
        </nav>

        <main>
            <h1>{{ page.title }}</h1>
            {{ content }}
            <div style="height: 64px;"></div>
        </main>

        <footer>
            <div class="container">
                <span class="text-light">&copy; 2020-2024 <a href="https://mrjamesco.uk" class="text-light">James C.</a> Unaffiliated with Mojang AB or the Microsoft Corporation.</span>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>{% if content contains '<input type="file"' %}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>{% endif %}
        <script type="text/javascript" src="{% capture jslink %}{% link assets/js/main.js %}{% endcapture %}/toolets{{ jslink | remove_first: "/toolets" }}"></script>
    </body>
</html>